**/__pycache__
*.so
*.npz
*.out
*current_revision
**/build
**/logs
**/launch_logs
**/deps
**/.benchmarks
core
**tmp*
*.egg-info/
output/
.pytest_cache/
.vscode/
.claude/
.ruff_cache/
.venv
*.swo
*.swp
*~
*.log
*.mod
*.h5
**/qchem_input.in
.coverage
#*
*.csv
*.png
*.db
CLAUDE.md
